#footer {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  z-index: 15;
  background: #ffffff;
  position: absolute;
  height: 42px;
  width: 100%;
  bottom: 0px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 10px;
  .wrapper-toggle-txt {
    pointer-events: none;
    position: absolute;
    right: 84px;
    bottom: 0px;
    display: block;
    height: 42px;
    width: 250px;
    overflow: hidden;
    z-index: 15;
  }
  .logo-quizota-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    position: absolute;
    left: 15px;
    height: 42px;
    width: 90px;
    .logo-quizota {
      margin-top: 11px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      width: 87px;
      height: 22px;
    }
  }
  #main-item {
    height: 100%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-align: center;
    a {
      overflow: hidden;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      line-height: 42px;
      padding: 0 30px;
      font-size: 12px;
      color: #878786;
      -webkit-transition: color 350ms easeOutExpo;
      -moz-transition: color 350ms easeOutExpo;
      -o-transition: color 350ms easeOutExpo;
      transition: color 350ms easeOutExpo;
      font-weight: bold;
      font-style: normal;
      &:hover {
        color: #ffffff;
        -webkit-transition: color 350ms easeOutExpo;
        -moz-transition: color 350ms easeOutExpo;
        -o-transition: color 350ms easeOutExpo;
        transition: color 350ms easeOutExpo;
        .line_dark_hong {
          background-color: $brand-primary-dark2;
          -webkit-transform: translateY(-5px);
          -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          -o-transform: translateY(-5px);
          transform: translateY(-5px);
          -webkit-transition: -webkit-transform 550ms cubic-bezier(0.19, 1, 0.22, 1), background-color 350ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: -moz-transform 550ms cubic-bezier(0.19, 1, 0.22, 1), background-color 350ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: -o-transform 550ms cubic-bezier(0.19, 1, 0.22, 1), background-color 350ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 550ms cubic-bezier(0.19, 1, 0.22, 1), background-color 350ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        .bg_hong {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          -webkit-transition: -webkit-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: -moz-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: -o-transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
      .text {
        z-index: 4;
        sup {
          margin-left: 2px;
          font-size: 7px;
          top: -5px;
        }
      }
      .line_dark_hong {
        z-index: 3;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        width: 50%;
        height: 3px;
        bottom: 23px;
        background-color: $brand-primary-dark;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 850ms cubic-bezier(0.19, 1, 0.22, 1), background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: -moz-transform 850ms cubic-bezier(0.19, 1, 0.22, 1), background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: -o-transform 850ms cubic-bezier(0.19, 1, 0.22, 1), background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 850ms cubic-bezier(0.19, 1, 0.22, 1), background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      .bg_hong {
        overflow: hidden;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $brand-primary;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1), background-color 550ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: -moz-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1), background-color 550ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: -o-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1), background-color 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1), background-color 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  #secondary-item {
    position: absolute;
    right: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    .links {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      a {
        font-weight: bold;
        font-style: normal;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        opacity: 0.5;
        filter: alpha(opacity=50);
        color: #878786;
        padding: 13px 10px;
        font-size: 10px;
        top: 1px;
        -webkit-transition: opacity 850ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: opacity 850ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: opacity 850ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity 850ms cubic-bezier(0.19, 1, 0.22, 1);
        &:hover {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: opacity 550ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: opacity 550ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: opacity 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: opacity 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
    #share-item {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      .share {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        width: 42px;
        height: 42px;
        padding: 0 0px;
        .share {
          z-index:2;
          i {
          color: rgba(0, 0, 0, 0.2);
          margin-top: 15px;
          }
        }
        &:hover {
          .share i {
            color: #FFFFFF;
          }
          .bg_red {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: -webkit-transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: -moz-transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: -o-transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
          }
          .bg_dark_orange {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: -moz-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: -o-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
          }
          .bg_orange {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: -moz-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: -o-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        .bg_red {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $brand-primary-dark;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-transition: -webkit-transform 1600ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: -moz-transform 1600ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: -o-transform 1600ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 1600ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        .bg_dark_orange {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $brand-primary-dark2;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: -moz-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: -o-transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        .bg_orange {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $brand-primary;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: -moz-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: -o-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
}
