@mixin fl{
	position: relative;
	float: left;
}
@mixin flw($w) {
	position: relative;
	float: left;
	width: $w;
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
.full-page{
	.supergraphic-slider-modules{
		.supergraphic-slider-box{
			padding: 0;
			margin-bottom: 0;
			.slick-dots{
				bottom: 35px;
				li{
					width: 8px;
					height: 8px;
					margin: 0 10px 0 0;
					button{
						width: 8px;
						height: 8px;
						padding: 0;
						&:before{
							font-size: 8px;
							width: 8px;
							height: 8px;
							line-height: 8px;
						}
					}
				}
			}
			.slick-arrow{
				z-index: 9;
			}
			.slick-next{
				right: 34px;
				&:before{
					content: url(/img/modules/caret-next.png);
					background: none;
				}
			}
			.slick-prev{
				left: 34px;
				&:before{
					content: url(/img/modules/caret-prev.png);
					background: none;
				}
			}
		}
		.supergraphic-banner{
			// height: 640px;
			// background-size: cover;
			// &.yellow{
			// 	background: url(../img/modules/RUC-supergraphic-BG-ORANGE.png) center center no-repeat;
			// }
			// &.green{
			// 	background: url(../img/modules/RUC-supergraphic-BG-BLUE.png) center center no-repeat;
			// }
			padding: 0;
			overflow: hidden;
			.supergraphic-img{
				@include flw(100%);
			}
			.supergraphic-description{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 66.666666%;
				@include transform(translate(-50%,-50%));
				text-align: center;
				h2,h5,a{
					@include flw(100%);
					clear: both;
				}
				h2{
					margin: 0;
					font-weight: 700;
				}
				h5{
					width: 80%;
					font-size: 16px;
					line-height: 28px;
					margin: 0 10% 30px;
					font-weight: 600;
				}
			}
		}
	}
}
.standard-page{
	.supergraphic-slider-modules{
		.supergraphic-slider-box{
			padding: 0;
			margin: 0;
			.slick-dots{
				bottom: 35px;
				li{
					width: 8px;
					height: 8px;
					margin: 0 10px 0 0;
					button{
						width: 8px;
						height: 8px;
						padding: 0;
						&:before{
							font-size: 8px;
							width: 8px;
							height: 8px;
							line-height: 8px;
						}
					}
				}
			}
			.slick-arrow{
				z-index: 9;
			}
			.slick-next{
				right: 34px;
				&:before{
					content: url(/img/modules/caret-next.png);
					background: none;
				}
			}
			.slick-prev{
				left: 34px;
				&:before{
					content: url(/img/modules/caret-prev.png);
					background: none;
				}
			}
		}
		.supergraphic-banner{
			// height: 465px;
			// background-size: cover;
			// &.yellow{
			// 	background: url(../img/modules/RUC-supergraphic-BG-ORANGE.png) center center no-repeat;
			// }
			// &.green{
			// 	background: url(../img/modules/RUC-supergraphic-BG-BLUE.png) center center no-repeat;
			// }
			padding: 0;
			overflow: hidden;
			.supergraphic-img{
				@include flw(100%);
			}
			.supergraphic-description{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 70%;
				@include transform(translate(-50%,-50%));
				text-align: center;
				h3,h5,a{
					@include flw(100%);
					clear: both;
				}
				h3{
					margin: 0;
					font-weight: 700;
				}
				h5{
					width: 80%;
					font-size: 16px;
					line-height: 28px;
					margin: 0 10% 30px;
					font-weight: 600;
				}
			}
		}
	}
}

@media #{$desktopUp}{
	.standard-page{
		.supergraphic-slider-modules{
			margin-right: -$sidePaddingDesktop;
		}
	}

}

@media #{$tabletDown}{
	.full-page{
		.supergraphic-slider-modules{
			.supergraphic-banner{
				// height: 465px;
				.supergraphic-description{
					width: 75%;
					h2{
						font-size: 36px;
						line-height: 44px;
					}
				}
			}
		}
	}
	.standard-page{
		.supergraphic-slider-modules{
			.supergraphic-banner{
				// height: 340px;
				.supergraphic-description{
					width: 85%;
					h3{
						font-size: 28px;
						line-height: 36px;
					}
				}
			}
		}
	}

}
@media #{$mobileOnly}{
	.full-page{
		.supergraphic-slider-modules{
			.supergraphic-slider-box{
				.supergraphic-banner{
					// height: 238px;
					.supergraphic-description{
						@include calc(width,'100% - 30px');
						left: 15px;
						@include transform(translate(0,-50%));
						h2{
							font-size: 18px;
							line-height: 22px;
						}
						h5{
							margin-bottom: 15px;
							font-size: 8px;
							line-height: 14px;
						}
					}
				}
				.slick-arrow{
					display: none !important;
				}
				.slick-dots{
					bottom: 18px;
					li{
						width: 5.5px;
						height: 5.5px;
						margin: 0 10px 0 0;
						button{
							width: 5.5px;
							height: 5.5px;
							padding: 0;
							&:before{
								font-size: 5.5px;
								width: 5.5px;
								height: 5.5px;
								line-height: 5.5px;
							}
						}
					}
				}
			}
		}
	}
	.standard-page{
		.supergraphic-slider-modules{
			.supergraphic-slider-box{
				.supergraphic-banner{
					// height: 238px;
					.supergraphic-description{
						@include calc(width,'100% - 30px');
						left: 15px;
						@include transform(translate(0,-50%));
						h3{
							font-size: 14px;
							line-height: 18px;
						}
						h5{
							margin-bottom: 15px;
							font-size: 8px;
							line-height: 14px;
						}
					}
				}
				.slick-arrow{
					display: none !important;
				}
				.slick-dots{
					bottom: 18px;
					li{
						width: 5.5px;
						height: 5.5px;
						margin: 0 10px 0 0;
						button{
							width: 5.5px;
							height: 5.5px;
							padding: 0;
							&:before{
								font-size: 5.5px;
								width: 5.5px;
								height: 5.5px;
								line-height: 5.5px;
							}
						}
					}
				}
			}
		}
	}
}
