$use-zoomIn: true;
$use-bounceInUp: true;
$use-bounceIn: true;
$use-fadeIn: true;

// CUSTOM
@keyframes spin {
  to { transform: rotate(.5turn); }
}

@keyframes bg {
  50% { background: #655; }
}
@-webkit-keyframes spread {
  0% {
    -webkit-transform: translateX(-960px);
    -moz-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    -o-transform: translateX(-960px);
    transform: translateX(-960px);
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  90% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes spread {
  0% {
    -webkit-transform: translateX(-960px);
    -moz-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    -o-transform: translateX(-960px);
    transform: translateX(-960px);
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  90% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-ms-keyframes spread {
  0% {
    -webkit-transform: translateX(-960px);
    -moz-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    -o-transform: translateX(-960px);
    transform: translateX(-960px);
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  90% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes spread {
  0% {
    -webkit-transform: translateX(-960px);
    -moz-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    -o-transform: translateX(-960px);
    transform: translateX(-960px);
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  90% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-webkit-keyframes spreadHor1 {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px); }

  50% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }

  100% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px); } }

@-moz-keyframes spreadHor1 {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px); }

  50% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }

  100% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px); } }

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes upAndDown {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-ms-keyframes upAndDown {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes upAndDown {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes gamemode_arrow {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes gamemode_arrow {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-ms-keyframes gamemode_arrow {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes gamemode_arrow {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    filter: alpha(opacity=0); }

  30% {
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes fluidReverse {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
    transform: translateX(140px); } }

@-moz-keyframes fluidReverse {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
    transform: translateX(140px); } }

@-ms-keyframes fluidReverse {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
    transform: translateX(140px); } }

@keyframes fluidReverse {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
    transform: translateX(140px); } }

@-webkit-keyframes fluidReverse2 {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  25% {
    opacity: 1;
    filter: alpha(opacity=100); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); } }

@-moz-keyframes fluidReverse2 {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  25% {
    opacity: 1;
    filter: alpha(opacity=100); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); } }

@-ms-keyframes fluidReverse2 {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  25% {
    opacity: 1;
    filter: alpha(opacity=100); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); } }

@keyframes fluidReverse2 {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }

  25% {
    opacity: 1;
    filter: alpha(opacity=100); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); } }
@-webkit-keyframes fluid {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); } }

@-moz-keyframes fluid {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); } }

@-ms-keyframes fluid {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); } }

@keyframes fluid {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px); }

  55% {
    opacity: 1;
    filter: alpha(opacity=100); }

  85% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); } }
@-moz-keyframes upAndDownLoader {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }

  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }

@-ms-keyframes upAndDownLoader {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }

  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }

@keyframes upAndDownLoader {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }

  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }

@-webkit-keyframes blink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  20% {
    opacity: 0.66;
    filter: alpha(opacity=66); }

  23% {
    opacity: 0.25;
    filter: alpha(opacity=25); }

  28% {
    opacity: 0.8;
    filter: alpha(opacity=80); }

  30% {
    opacity: 0.2;
    filter: alpha(opacity=20); }

  33% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@-moz-keyframes blink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  20% {
    opacity: 0.66;
    filter: alpha(opacity=66); }

  23% {
    opacity: 0.25;
    filter: alpha(opacity=25); }

  28% {
    opacity: 0.8;
    filter: alpha(opacity=80); }

  30% {
    opacity: 0.2;
    filter: alpha(opacity=20); }

  33% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@-ms-keyframes blink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  20% {
    opacity: 0.66;
    filter: alpha(opacity=66); }

  23% {
    opacity: 0.25;
    filter: alpha(opacity=25); }

  28% {
    opacity: 0.8;
    filter: alpha(opacity=80); }

  30% {
    opacity: 0.2;
    filter: alpha(opacity=20); }

  33% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes blink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  10% {
    opacity: 0;
    filter: alpha(opacity=0); }

  20% {
    opacity: 0.66;
    filter: alpha(opacity=66); }

  23% {
    opacity: 0.25;
    filter: alpha(opacity=25); }

  28% {
    opacity: 0.8;
    filter: alpha(opacity=80); }

  30% {
    opacity: 0.2;
    filter: alpha(opacity=20); }

  33% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
