// UTILITIES

.clearfix{
	@include clearfix;
}


%backface-perspective{
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

%backface-hidden{
	@include backface-visibility(hidden);
}

@mixin noFlick(){
	@include backface-visibility(hidden);
	@include perspective(1000px);
}
%no-flick{
	@include noFlick;
}

.is-3d{
	//@include translate3d(0,0,0);
}


/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
@mixin overthrow(){
	.overthrow-enabled &{
		// @extend %dark-scrollbar;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		-ms-scroll-chaining: none;
		// -ms-overflow-style: -ms-autohiding-scrollbar;
		> *{
			-webkit-transform: translateZ(0px);
		}
	}
}
.overthrow {
	@include overthrow();
}


%absolute-full{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


@mixin text-truncate {
	overflow: hidden;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
%text-truncate{
	@include text-truncate;
}


%noTransition{
	@include transition(none !important);
}



@mixin touch-action-auto(){
	-webkit-touch-action: auto !important;
	-moz-touch-action: auto !important;
	-ms-touch-action: auto !important;
	-o-touch-action: auto !important;
	touch-action: auto !important;
}
@mixin touch-action-pan-y(){
	-webkit-touch-action: pan-y !important;
	-moz-touch-action: pan-y !important;
	-ms-touch-action: pan-y !important;
	-o-touch-action: pan-y !important;
	touch-action: pan-y !important;
}
@mixin touch-action-none(){
	-webkit-touch-action: none !important;
	-moz-touch-action: none !important;
	-ms-touch-action: none !important;
	-o-touch-action: none !important;
	touch-action: none !important;
}
@mixin user-drag-auto(){
	-webkit-user-drag: auto !important;
	-moz-user-drag: auto !important;
	-ms-user-drag: auto !important;
	-o-user-drag: auto !important;
	user-drag: auto !important;
}
@mixin user-drag-none(){
	-webkit-user-drag: none !important;
	-moz-user-drag: none !important;
	-ms-user-drag: none !important;
	-o-user-drag: none !important;
	user-drag: none !important;
}
@mixin user-select-auto(){
	-webkit-touch-callout: auto;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	-o-user-select: auto !important;
	user-select: auto !important;
}
@mixin user-select-none(){
	-webkit-touch-callout: none;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
}
%touch-action-auto{
	@include touch-action-auto;
}
%touch-action-pan-y{
	@include touch-action-pan-y;
}
%touch-action-none{
	@include touch-action-none;
}
%user-drag-auto{
	@include user-drag-auto;
}
%user-drag-none{
	@include user-drag-none;
}
%user-select-auto{
	@include user-select-auto;
}
%user-select-none{
	@include user-select-none;
}

@mixin hidden(){
	visibility: hidden;
	opacity: 0;
}

@mixin unHidden(){
	visibility: visible;
	opacity: 1;
}

@mixin hideAway(){
	@include transform(translateY(-999rem));
}

@mixin unHideAway(){
	@include transform(translateY(0));
}


%valign-middle-container{
	&:before{
		content: "";
		vertical-align: middle;
		width: 0;
		height: 100%;
		overflow: hidden;
		display: inline-block;
	}
	>*{
		display: inline-block;
		vertical-align: middle;
	}
}

.valign-middle-container{
	@extend %valign-middle-container;
}



// CUSTOM INPUT

@mixin customRadioCheckbox($size:2em, $border-color:#aaa, $border-width:.2em, $background-color:#fff){
	display: none;
	& ~ .fake-input{
		position: relative;
		display: inline-block;
		border: $border-width solid $border-color;
		border-radius: .3em;
		width: $size;
		height: $size;
		vertical-align: middle;
		background: $background-color;
		&:hover{
			border-color: #666;
		}
	}
}
// input[type=checkbox].custom{
@mixin customCheckbox($size:2em, $border-color:#aaa, $border-width:1px, $background-color:#fff, $core-color:$brand-success){
	// @extend %customRadioCheckbox;
	@include customRadioCheckbox($size, $border-color, $border-width, $background-color);
	&:checked ~ .fake-input:before{
		font-family: ten-lua;
		content: "N";
		color: $core-color;
		font-size: $size/1.15;
		line-height: 1.2;
		position: absolute;
		left: 0;
		top: -$border-width;
		font-weight: normal;
		width: 100%;
		text-align: center;
	}
}

// input[type=radio].custom{
@mixin customRadio($size:2em, $border-color:#aaa, $border-width:.2em, $background-color:#fff, $core-color:$brand-success){
	// @extend %customRadioCheckbox;
	@include customRadioCheckbox($size, $border-color, $border-width, $background-color);
	& ~ .fake-input{
		border-radius: 50%;
		text-align: center;
	}
	&:checked ~ .fake-input:before{
		@extend %absolute-full;
		@include transform(scale(.5));
		content: "";
		display: inline-block;
		background-color: $core-color;
		border-radius: 50%;
	}
}

input[type=checkbox].custom{
	@include customCheckbox;
}
input[type=radio].custom{
	@include customRadio;
}
textarea, input { outline: none; }
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.u-antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.relative {
	position: relative;
	height: 150px;
	overflow: hidden;
	width: 100%;
}
